<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.19.2" targetFramework="net452" />
  <package id="LibGit2Sharp" version="0.23.1" targetFramework="net452" />
  <package id="LibGit2Sharp.NativeBinaries" version="1.0.164" targetFramework="net452" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.0.0-preview1-final" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0-preview1-final" targetFramework="net452" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net452" />
  <package id="NETStandard.Library" version="2.0.0-preview1-25301-01" targetFramework="net452" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="NUnit.Runners.Net4" version="2.6.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0-preview1-25305-02" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>